#root {
  max-width: 1280px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  max-width: 1380px;
  margin: 0 auto;
}
.side-bar{
  margin-top: 95px;
  padding: 40px 10px;
  width: 200px;
  height: 100vh;
  /* border-right: 1px solid lightgray; */
  -webkit-box-shadow: 14px 3px 12px -4px rgba(207,207,207,0.43);
-moz-box-shadow: 14px 3px 12px -4px rgba(207,207,207,0.43);
box-shadow: 14px 3px 12px -4px rgba(207,207,207,0.43);
}

.side-bar> .history>li{
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
}

.main{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  height: 100vh;
  width: 600px;
  text-align: left;
}

.title{
  font-weight: 600;
}

.content{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  margin: 0 10px;
}

.inputContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.inputContainer > input{
  padding: 8px 20px;
  
  width: 80%;
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.inputContainer >button{
  background-color: rgba(57, 255, 196, 0.837);
}

ul{
  list-style:none;
}