#root {
  max-width: 1280px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  max-width: 1380px;
  margin: 0 auto;
}
.side-bar{
  margin-top: 95px;
  padding: 40px 10px;
  width: 200px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
}

.main{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  height: 100vh;
  width: 600px;
  text-align: left;
}

.title{
  font-weight: 600;
}

.content{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer > input{
  padding: 8px 20px;
  width:60%;
  margin-right: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.inputContainer >button{
  background-color: rgba(57, 255, 196, 0.837);
}

ul{
  list-style:none;
}